footer {
    background-color: #00192d;
    color: #fefefe;
    text-align: center;
    padding: 20px 0;
    display: block;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
}